<nav class="navbar navbar-expand-sm navbar-dark bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Sancode</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sanavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="sanavbar">      
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Cadastro</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Beneficário</a></li>
            <li><a class="dropdown-item" href="#">Empresa</a></li>
            <li><a class="dropdown-item" href="#">Plano</a></li>
          </ul>
        </li>        
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Tópicos da pesquisa">
        <button class="btn btn-primary" type="button">Pesquisar</button>
      </form>
    </div>
  </div>
</nav>
<div class="container-fluid pt-5">
    <router-outlet></router-outlet>
</div>
